<div class="cargando-pm">
  <div class="div-pri">
    <div class="div-x">
      <p>¿Quién soy yo?</p>
    </div>

    <div class="fila div-x">
      <img src="../../../assets/icono_Carlos_abramonte.ico" alt="" />

      <p class="columna">
        <label>Carlos Abramonte Chavez</label>
        <label>car.abr.04@gmail.com</label>
        <label>🇵🇪 935 421 132</label>
      </p>
    </div>

    <div class="div-x">
      <p>
        Bachiller en Ingeniería de Sistemas, soy una persona autodidacta que le
        apasionan las tecnologias desde muy pequeño, me especializo en el
        desarrollo de software. Con capacidad de trabajar en equipo.
      </p>
    </div>

    <div class="div-x">
      <button type="button" (click)="obtener_cv()">Obtener CV</button>
    </div>
  </div>
</div>
